.border-red {
  border: 1px solid red;
}

.admin-menu-side {
  width: 18rem;
  z-index: 1000;
  background-color: red;
}

.admin-menu {
  position: fixed;
  width: 18rem;
}

.admin-menu-user {
  position: absolute;
  bottom: 1rem;
}